<div class="login-box" *ngIf="!forgotpwd">
  <div class="login-cont">
    <div class="login-logo">
      <!-- <img src="assets/img/TMB-logo-icon.png" alt="headerImage"> -->
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">
        <b>Login</b>
      </p>
      <div class="has-error" [hidden]="!errMessage">{{errMessage}}</div>
      <form action="" method="post">
        <div class="form-group has-feedback" [ngClass]="{'has-error': email.invalid && (email.dirty || email.touched),'has-success': email.valid && (email.dirty || email.touched) }">
          <input type="email" class="form-control" id="email" placeholder="Enter Email" required name="email" [(ngModel)]="model.email"
            #email="ngModel" pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$">
          <div *ngIf="email.errors && (email.dirty || email.touched)" class="has-error">
            <div [hidden]="!email.errors.required" class="text-danger padd">
              Email is required!
            </div>
            <div [hidden]="!email.errors.pattern" class="text-danger padd">
              Please enter a valid email!
            </div>
          </div>
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback" [ngClass]="{'has-error': pwd.invalid && (pwd.dirty || pwd.touched),'has-success': pwd.valid && (pwd.dirty || pwd.touched) }">
          <input class="form-control" minlength="6" type="password" placeholder="Password" id="pwd" required name="pwd" [(ngModel)]="model.password"
            #pwd="ngModel" />
          <div *ngIf="pwd.errors && (pwd.dirty || pwd.touched)" class="has-error">
            <div [hidden]="!pwd.errors.required" class="text-danger padd">
              Password is required!
            </div>
            <div [hidden]="!pwd.errors.minlength" class="text-danger padd">
              Please enter a valid password!
            </div>
          </div>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <div class="checkbox icheck">
              <label class="">
                <div *ngIf="errMsg !== undefined" class="text-danger padd" dismiss-on-timeout="10">{{errMsg}}</div>
                <br>
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-xs-4 text-center">
            <button type="submit" class="btn btn-primary btn-block btn-flat" (click)="login()">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
    <!-- /.login-box-body -->
  </div>
</div>